
{% extends 'basetemplate.html' %}{%load static %}
{% block content %}

<div class="about_section">
<div class="image_grid">

</div>
<div class="content_about">
    <p>Welcome to INDOLOTUS India, your premier destination for exquisite marble and granite since 2000. As a leading supplier in the industry, we take pride in offering a curated selection of the finest natural stones sourced from the best quarries around the globe.

        At INDOLOTUS, we specialize in providing luxurious marble, granite, and other natural stones, meticulously chosen to meet the highest standards of quality and elegance. Our extensive range of products caters to diverse aesthetic preferences, ensuring that every customer finds the perfect stone to enhance their space.
        
        With a commitment to excellence, we prioritize customer satisfaction by offering superior products, personalized service, and expert guidance throughout the selection and installation process. Whether you're seeking timeless marble for a classic look or contemporary granite for a modern touch, INDOLOTUS has the perfect solution to elevate your interior design.
        
        Experience the beauty and durability of natural stone with INDOLOTUS India – where luxury meets craftsmanship, and every project is infused with timeless elegance</p>
</div>











    <div id="parent">
        <div class="heading_text"><div class="main_heading">WHO’S BEHIND INDOLOTUS</div></div>
        <div id="child-left"><img class="founder-img" src="../static/Media/foundr1.png" alt=""></div>
        <div id="child-right"><p>Vishwas Pratap, the Co-founder of Indolotus, brings over 20 years of experience in the industry. Indolotus is renowned for its expertise in supplying high-quality marbles, granite, and other natural stones sourced from top quarries worldwide. Over the years, the company has excelled in competition, consistently delivering excellence in its offerings.</p> <p><b>Vishwas Pratap</b><br><i>Founder, INDOLOTUS</i></p></div>
       </div>
        </div>


        <div id="parent2">
            
            <div id="child-left2"><img class="founder-img" src="../static/Media/founder2.jpeg" alt=""></div>
            <div id="child-right2"><p>Amit Agarwal, the founder of Agarwal Rocks and Co-Founder of Indolotus Exports, stands at the forefront of the industry. Agarwal Rocks is a distinguished exporter, manufacturer, mine owner, and wholesale supplier of natural stones such as Marble, Granite, and Sandstones, along with polished marble and granite tiles, in the global market, recognized for its premium quality and flawless finish. With a sprawling factory area spanning over 4000 square meters, our company leads with innovation and excellence in every facet of our operations.




            </p><p><b>Amit Agarwal</b><br><i>Co-Founder, INDOLOTUS</i></p></div>
            </div>
    
    
    




<div class="benefits">
    <div class="benefits_section">
        <p class="heading">Additional Benefits</p>

    </div>
    <div class="list_section">
        <ul class="ul_benefits">
            <li>
                <p>Explore 150,000+ m² of premium stones online</p>
            </li>
            <li>
            <hr style="width:70px; transform:rotate(120deg); background-color:#EEDDCC;">
        </li>


            <li>
                <p>From natural to artificial <br>Secure payments via bank transfer or card at our offices or warehouses
                </p>
            </li>
            <li>
            <hr style="width:70px; transform:rotate(120deg);"></li>
            <li>
                <p>we cater to every budget</p>
            </li>
        </ul>
    </div>

</div>



</div>

{% endblock %}