{% extends 'basetemplate.html' %}
{% load static %}

{% block content %}
<div class="section1">
    <div class="heading_text">
        <div class="main_heading">
            <p>Redefining elegance with luxurious stones,<br>
                showcasing <b class="color_change">24 years of excellence.</b> </p>
        </div>
        <div class="sub_heading">
            <p>Where luxurious stones redefine Elegance and transform spaces into masterpieces.</p>
        </div>
    </div>

    <div class="explore_link">
        <img class="explore_img" src="{% static 'Media/livingroom.png' %}" alt="">
    </div>
</div>
<div class="section2">
    <div class="why">
        <img class="explore_img" src="{% static 'Media/bestpartner.png' %}" alt="">


   
    </div>
</div>
<div class="section3">
    <div class="heading_text">
        <div class="main_heading_1">
            <p>Tailoring each project to perfection<br>
                Elevate Your Space with <i class="color_change">Elegance.</i> </p>
        </div>
    </div>
    <center>
        <div class="products">

            {% for item in query_results   %}
            {% if forloop.counter <= 3 %}

            <div class="product-card">
                <div class="product-image">
                    <img class="item-image" src="{{item.image.url}}">
                </div>
                <div class="product-info">
                    <h5>{{item.tileName}}</h5>

                </div>
                <button class="read_more_btn"><a class="read_more" href="{% url 'products-detail' item.id%}">Read More</a></button> 
<br><br><br>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <button class="read_more_btn"><a class="read_more" href="{%url 'Products_list' %}">View More</a></button> 

        <br>

        <br>

    </center>
</div>

<div class="section4">
    <div class="testimonial">
        <img class="testimonial_img" src="{% static 'Media/testimonial.png' %}" alt="">

    </div>
    <br>
    <br><br>
</div>

<div class="section5">
    <div class="main_heading"> <p>Our Latest <b class="color_change">Projects</b> </p></div>
    <img class="project2_img" src="{% static 'Media/project2.png' %}" alt="">

    <img class="project1_img" src="{% static 'Media/project1.png' %}" alt="">

    <!-- <div class="projects">
        <img class="testimonial_img" src="{% static 'Media/project2.png' %}" alt="">

        <img class="project1_img" src="{% static 'Media/project1.png' %}" alt="">

        <div class="projects_home">

          <div class="projects-brief">
                {% for item in query2 %}
                <div class="project-card">
                    <div class="project-image">
                        <img class="item-image-project" src="{{item.image.url}}">

                    </div>
                    <div class="project-info">
                        <h5>{{item.projectName}}</h5>
                        <p>{{item.description}}</p>

                    </div>

                </div>
            </div>
            {% endfor %} 


        </div>
        <center><a class="read_more" href="{%url 'Products_list' %}">Read More</a></center>

    </div> -->
</div>

<br>
<br>
<br><br>
<div class="section6">
    <div class="benefits">
        <div class="benefits_section">
            <img class="benefits_section-image" src="{% static 'Media/benefitsadditional.png' %}">

    </div>
</div>

{% endblock %}