{% extends 'basetemplate.html' %}
{% load static %}

{% block content %}
<center>
 
    <div class="products">
      <img src="{% static 'Media/stone_cata.png'%}" alt="" class="stone_catalog">
    
        {% for item in tileproducts %}
        <div class="product-card">
            <div class="product-image">
              <img class="item-image" src="{{item.image.url}}">
            </div>
            <div class="product-info">
              <h5>{{item.tileName}}</h5>
              <div class="minor_section">
             <button class="read_more_btn"><a href="{% url 'products-detail' item.id%}">Read More</a></button>  
             <button class="read_more_btn"><a href="{% url 'quote' %}" >Get Quote</a></button> 
            </div>
            </div>
          </div>

    {% endfor %}
    </div>
    <!-- <div class="popup-wrapper">

      <div class="popup">

          <div class="popup-close">X</div>

          <div class="popup-content">

              <h1>This is the popup</h1>

              <p> We are going to add more info here soon</p>

              <a href="#"> View Website</a>

          </div>

      </div>

  </div> -->
    </center>


{% endblock content %}

