{% extends 'basetemplate.html' %}
{% load static %}
{% block content %}
<!-- 
<div class="">
 <img src="{{item.image.url}}" alt="">
<div class="">{{item.tileName}}</div>

</div>
<div class="">{{item.description}}</div>
<div class="">
    <div class="">
        <a href="{% url 'products-list'%}">Go Back</a>
    </div>
    <div class="">

    </div>
</div> -->

<center>
    <img src="{% static 'Media/stone_cata.png'%}" alt="" class="stone_catalog_dets">

    <div class="projects">
        <div class="project_content">
            <img class="image_detail_product" src="{{item.image.url}}" alt="">
            <h3 class="moile_text_heading">{{item.tileName}}</h3>
            <h5 class="moile_text_heading">{{item.typeoftile}}</h5>
            <div class="description">
                <p>{{item.description}}</p>
            </div>
            <div class="minor_section">
                <button class="gobackbtn"><a href="{% url 'products-list'%}">Go Back</a></button>
            </div>
        </div>
    </div>
    </div>



</center>

{% endblock content %}