* {
    box-sizing: border-box;
    font-family: Raleway;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: #F9F1F0;
    margin: 0;
    padding: 0;
}

/* Nav Section */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1C1C1C;
    color: #F9F1F0;
    min-width: 100vh;
    padding: 5 rem;
   
}

.navbar-brand .brandlogo {
    height: 5rem;
    width: 5rem;
    object-fit: fill;
    margin: 1rem;
    margin-left:20px;

}

.links_section ul {
    margin: 0;
    padding: 0;
    display: flex;
    margin-right:20px;

}

.links_section li {
    list-style: none;
    justify-content: space-between;
    padding: 1rem;
}

.links_section li a {
    text-decoration: none;
    color: #F9F1F0;
    padding: 0 rem;
    display: block;
    font-size: 18.2px;
    font-weight: 250;
}

.links_section button {
    width: 160px;
    height: 30px;
    text-decoration: none;
    background-color: #EEDDCC;
    padding: 1 rem;
    display: block;
    border-radius: 16px;
    border: 1px solid #CCAB00;
}

.links_section button a {
    text-decoration: none;
    color: #1C1C1C;
    padding: 1 rem;
    display: block;
    font-weight: 600;
    font-size: 16px;
}

.links_section li:hover {
    background: #1C1C1C;
    border: 0.5px solid #CCAB00;
    border-radius: 20px;
    color: #CCAB00;
}


.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    padding: 3rem;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/* Navbar complete */
.heading_text {
    min-width: 500px;
    padding: 50px;
}

.main_heading {
    font-size: 3.5rem;
    padding: 20px;
}
.main_heading_1{
    font-size: 2.5rem;
    padding: 20px;
}
.sub_heading {
    font-size: 1.5rem;
    padding: 10px;
    font-weight: 300;
}

.color_change {
    color: #CCAB00;
}

.explore_link {
    padding: 50px;
}

.explore_img {

    width: 100%;
    object-fit: fill;
    margin: 1rem;
}



.testimonial {
    padding: 0px;
   
}
.testimonial .testimonial_img{
    width: 100%;
}


.content {
    position: absolute;
    top: 350px;
    left: 20px;
    padding: 90px;
}

.content p {
    font-weight: 500;
}


.main_section {
    width: 100%;
    height: 500px;
    /* background-color: red; */
}

.main_section .heading {
    font-size: 5rem;
    text-align: center;
    padding: 20px;

}




/* product  */

.products {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    /* padding-left: 5%; */
    /* justify-content: space-around; */
}

.product-card {
    /* padding-bottom: 10px; */
    flex-grow: 1;
    flex-basis: 26%;
    justify-content: space-around;
    padding: 10px;

}

.item-image {
    width: 300px;
    height:  300px;
    object-fit: fill;

}

.product-info {
    padding: 20px;
    align-items: center;
}

.read_more {
    /* text-decoration: none; */
    color: white;
    padding-bottom: 50px;
 
   
}
.stone_catalog{
    min-width: 100vw;

}
.stone_catalog_dets {
width: 100%;
min-width: 100vw;
/* height: 50px; */
}
.read_more_btn{
    border: none;
    background-color: #CCAB00;
    width: 140px;
    height: 40px;

}

.gobackbtn{
    border: none;
    background-color: #CCAB00;
    width: 140px;
    height: 40px;
}
.gobackbtn a{
    text-decoration: none; 
    font-style: none;
    color: white;

}

.image_list {
    width: 250px;
    height: 250px;
    object-fit: fill;
}

.content_list {
    display: flex;
    flex-wrap: wrap;
}

.image_detail_project {
    width: 450px;
    height: 450px;
    object-fit: fill;

}
.image_detail_product{
    width: 450px;
    height: 450px;

    object-fit: fill;
}


/* projects */
.projects {
    display: flex;
    justify-content: space-around;
    padding: 0px;
}

.project_content .description {
    padding: 150px;
}

/* 
.heading {
    align-items: center;
    font-size: 40px;
}


.projects_home {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}

.project-info{
    padding: 30px;
    flex-wrap: wrap;
}
.item-image-project{
    width: 650px;
    height: 450px;
    object-fit: fill;
} */




/* .benefits */

.benefits_section .benefits_section-image {
width: 100%;
    /* justify-content: space-around;
    align-items: center;
    display: flex; */
    /* padding: 0px; */
}


/* .benefits .list_section .ul_benefits {
    list-style: none;
    flex-wrap: wrap;
    display: flex;
}

.benefits .list_section li p {
    padding: 10px;
    font-weight: 400;
} */

/* 
.benefits_section {
    padding: 10px;
   
    min-width: 100vh;
    min-height: 350px;
}

.benefits_section .benefits_list {
    list-style: none;
    display: flex;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
} */

/* why section */

.why{
    background-color:#EEDDCC ;
    width: 100%;
    padding: 60px;
}
.why_list  {
    
 display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}
.why_list li{
    flex: 0 0 33.3333%;
    padding: 20px
}




/* About */
.about_img {
    width: 100%;
    min-width: 30vw;
}
.add_benefits{
    width: 100%;
    min-width: 30vw;
}
.about_section{
    padding: 30px;

}
.content_about{
    text-align: center;
    justify-content: center;
    padding: 150px;
    font-size: 1rem;
    line-height: 40px;
}

/* 

.founder-img{
    width: 450px;
    height: 450px;
    object-fit: fill;
}

#parent{
    padding: 0px, auto;
    width: 100%;
  

}
#child-left{
  float: left;
  width: 40%;
  height:70%;
 
  padding: 50px;
}
#child-right{
    float: right;
    width: 50%;

    padding: 150px;
}

#parent2{

    width: 100%;
   

}
#child-left2{
  float: right;
  width: 30%;
 
  padding-top: 140px;
  padding-right: 70px;
}
#child-right2{
    float: left;
    width: 50%;
   height:70%; padding: 150px;
}
 */





 /* contactsection */

  .main_container {
    padding: 60px
   
}

.grid-container-element { 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-gap: 0px; 
    /* border: 1px solid black;  */
    width: 100%; 
} 
.grid-child-element { 
    margin: 0px; 

    /* border: 1px solid red;  */
}


.filler_image {
    width: 100%;
    height: 90%;
    object-fit: fill;
}

.info_section{
    list-style: none;
    padding: 30px;
    background-color: #F5E2DC;
    height: 100%;
}
.form_section{
    padding: 30px;
    background-color: #F5E2DC;
    height: 90%;

}
.info_section li{
    text-decoration: none;
    padding: 10px;
}

.semi-heading{
    font-size: 15px;
    padding: 10px;
}


.form_section {
    display: flex;
    width: 100%;
    padding: 20px;
}
.form_mini  ,input,textarea{
    width: 100%;
 

    
}
.form_mini textarea{
    background-color: #F5E2DC;
}
.form_mini ,input {
    border: none;
    border-radius: 5px;
    background-color: #F5E2DC;
    border-bottom: 0.1px solid black;
}

.form_mini button{
    border-bottom: 0px solid black;
}

.form_section .contactList{

list-style: none;
}


 .contactList li{
    padding: 10px;
  text-decoration: none;
  list-style: none;
  background-color: #F5E2DC;
    }
    
    
   

    .form_mini .submit_button{
    background-color: #8B4513 ;
    color: #F9F1F0;
    width: 150px;
    border: none;
    height: 50px;

}

.info_section_mobile ,.mapouter-mobile{
    display: none;
}


.minor_section a{
    color: #1C1C1C;
    text-decoration: underline;

}








/* Mobile */
@media (max-width:500px) {
   
    .toggle-button {
        padding: 0px;
        display: flex;
    }

    .links_section {
        display: none;
    }
 

    .navbar {
        width: 100vh;
        position:absolute;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        right:0!important;
        z-index: 950;

    }

    .navbar-brand .brandlogo {
        padding: 10px;
        height: 3rem;
        width: 3rem;
        object-fit: fill; 
       
        
    }
    .links_section ul {
        margin: 0;
        padding: 0;
        display: flex;
   
    }
    
    .links_section li {
        list-style: none;
    }

    .links_section li a {
        text-decoration: none;
        color: #F9F1F0;
        padding: 0 rem;
        display: block;
    }
    
    .links_section button {

        text-decoration: none;
        background-color: #EEDDCC;
        padding: .5 rem;
        display: block;
        border-radius: 15px;
        border: 1px solid #CCAB00;
    
    }
    
    .links_section button a {
    
        text-decoration: none;
        color: #1C1C1C;
        padding:0 rem;
        display: block;
    
        font-weight: 500;
    
    }
    
 

    .links_section .links_section_ul {
      
        flex-direction: column;
       
    }

    .links_section ul li {
        text-align: center;
        justify-content: space-around;
        padding-left: 55vh;
      
        text-align: center;
    }

    .links_section li a {
        padding: .1rem .1rem;

        text-align: center;
    } 
    .links_section.active {
        display: flex;
    }


    .links_section  li:hover {
        background: #1C1C1C;
        border: 0px solid #1C1C1C;
        border-radius: 20px;
        color: #CCAB00;
    }

    
    .section1,.section2,.section3,.section4,.section5{
        overflow-x: hidden;
        overflow-y: hidden;
    }

    /* headings */
    .main_heading_1{
        font-size: 1rem;
        padding: 10px;
    }

    .section1{
       padding-top: 30%;
       display: flex;
       flex-wrap:wrap ;
       padding-left: 10px;
       padding-left: 10px;

   
    }
    .content{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .heading_text {
    
        justify-content: space-around;
        font-family: Raleway;
        padding: 0px;
    }

    .main_heading {
        font-family: Raleway;
        font-size: 1rem;
        display: flex;
    }

    .explore_img {
        padding: 10px;
        width: 100%;
        object-fit: fill;
        margin: 0;
    }

    .explore_link {
        padding: 0px;
    }
    .sub_heading p{
        font-family: Raleway;
        font-size: .8rem;
        padding: 0px;
        width: 60%;

    }


.why{
    background-color:#EEDDCC ;
    width: 100vw;

}
.why_list  {
    
    display: flex;
    flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}
.why_list li{
    flex: 0 0 33.3333%;
    padding: 20px
}
.heading_text .main_heading .heading{

    padding: 0px;
}
.section3{
    width: 100vw;
}
.section4{
    width: 100vw;
    padding:0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* testimonial */
    .testimonial {
        padding: 0px;
    }
    .testimonial .testimonial_img{
        width: 100%;
    }

    .lengthy{
        display: flex;
        font-size: 1rem;
        padding-right: 70px;
        width: 80vw;
    }
    
    .content {
        padding: 0px;
  
    }
    .bg-image {
        opacity: 0.5;
        width: 100vw;
        height: 500px;
    }


    /* projects */
    .section5{
padding: 0px;
/* align-items: start; */
    }

    .project2_img {
        width: 100%;
 object-fit: fit;
   }
   .project1_img {
    width: 100%;
object-fit: fit;
}
    hr{
        display: none;
    }
    .main_section .heading {
        font-size: 1rem;
        text-align: center;
        padding: 0px;
    }

  
   

    .benefits_section .benefits_section-image {
        width: 100vw;
            /* justify-content: space-around;
            align-items: center;
            display: flex; */
            padding: 0px;
        }
    hr{
        display: none;
    }
    .main_section .heading {
        font-size: 2rem;
        text-align: center;
        padding: 0px;
    
    }


    /* products */

    .products {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0;
        /* padding-left: 5%; */
        /* justify-content: space-around; */
    }
    
    .product-card {
        /* padding-bottom: 10px; */
       
        padding: 0px;
    
    }
    
    .item-image {
        width: 50%;
        height:  170px;
        object-fit: fill;
    
    }
    
    .product-info {
        padding: 0px;
        align-items: center;
    }
    .stone_catalog{
        padding-top: 90px;
        width: 100%;
        min-width:30vw;
    }


    /* about */

    .about_img {
        padding-top:90px;
        width: 100%;
        min-width: 30vw;
    }
    .add_benefits{
        width: 100%;
        min-width: 30vw;
    }
    .about_section{
        padding: 0px;
    
    }
    .content_about{
        text-align: center;
        justify-content: center;
        padding: 10px;
        font-size: .5rem;
        line-height: 10px;
    }





    /* contact */
.main_container{
    padding: 0;
    padding-top: 50px;

}

.form_section {
    display: flex;
    width: 100%;
    padding: 0px;
}
.form_mini  ,input,textarea{
    width: 100%;
    min-width: 30vw;
 

    
}
.form_mini textarea{
    background-color: #F5E2DC;
}
.form_mini ,input {
    border: none;
    border-radius: 5px;
    background-color: #F5E2DC;
    border-bottom: 0.1px solid black;
}

.form_mini button{
    border-bottom: 0px solid black;
}

.form_section .contactList{
    width: 100%;
   
width: 30vw;
list-style: none;
}



 .contactList li{
    padding: 0px;
  text-decoration: none;
  list-style: none;
  background-color: #F5E2DC;
  font-size: .5rem;
  padding: 3px;

    }


    .form_mini .submit_button{
        position: relative;
    background-color: #8B4513 ;
    color: #F9F1F0;
    width: 40px;
    border: none;
    height: 10px;
    font-size: .5rem;

}




.info_section p{
    display: none;
    /* font-size: .5rem;
    padding: 0;
    display: flex;
    flex-direction: column; */
}
.info_section ,.mapouter{
    display: none;

    /* font-size: .5rem;
    padding: 0; */
}
.info_section_mobile {
   font-size: .5rem;
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.info_section_mobile p {
    font-size: .5rem;
     padding: 5px;
     display: flex;
     flex-direction: column;
 }

.info_section_mobile i{
    padding: 5px;
    font-size: .5rem;
     padding: 0;
     display: flex;
     flex-direction: column;
 }
.info_section_mobile ul li{
    list-style: none;
    font-size: .5rem;
}



.minor_section a{
    color: #1C1C1C;
    text-decoration: underline;

}



/* productdets /project */
.projects{
    display: flex;
    padding: 0;
}

.stone_catalog_dets{
 padding-top: 50px;
}
.image_detail_product{
    padding: 2px;
    width: 50%;
    height: 30%;
    min-width: 30vw;
  
}
.project_content{
    padding: 0;

}  
.moile_text_heading{
    font-size: 1rem;
}
.description p{
    padding: 0;
    font-size: 1rem;

}
.project_content .description {
    padding: 15px;
    font-size: 1rem;
}
.read_more_btn{
    border: none;
    background-color: #CCAB00;
    width: 90px;
    height: 20px;
}
.main_heading,.heading_text{
    font-family: Raleway;
    font-size: .8rem;
    display: flex; 
    flex-direction: column;   
}
.heading_text,.sub_heading {
    font-family: Raleway;
    font-size: .8rem;
    display: flex; 
    flex-direction: column;  
}

}


@media (max-width:300px) {
    body{
    }
    .main_heading,.main_heading_1{
            font-family: Raleway;
            font-size: .8rem;
            padding-top: 50px;
            width: 40%;
    }
    .sub_heading p{
        font-family: Raleway;
        font-size: .5rem;
        padding: 0px;
        width: 40%;

    }
.item-image{
    width: 30%;
    min-width: 30vw;
    height:  50px;
    object-fit: fill;

}
.product-info h5{
    padding: 5px;
    font-size: .7rem;
}
.read_more_btn{
    font-size: .5rem;
}
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1C1C1C;
    color: #F9F1F0;
    min-width: 30vh;
    padding: 0 rem;
   
}
.links_section ul {
    margin: 0;
    padding: 0;
    display: flex;
    margin-left:10%;

}

.links_section li a {
    text-decoration: none;
    color: #F9F1F0;
    padding: 0 rem;
    display: block;
    font-size: .5rem;
    font-weight: 250;
}
.links_section button a {
    text-decoration: none;
    color: #1C1C1C;
    padding: .5 rem;
    display: block;
    font-weight: 600;
    font-size: .5rem;
}
}
